@use "mediaQ" as *;
@use "color" as *;
// Boton toogle
.btn {
  background-color: $naranja;
  color: #fff;
  padding: 0.6rem 2rem;
  display: inline-block;
  border-radius: 0.5rem;
}

// hero
#hero {
  display: flex;
  height: 100%;
  @include hd {
    height: 100vh;
  }
  flex-wrap: wrap;
  position: relative;
  height: auto;
  #izq,
  #der {
    flex: 1;
    @include cel {
      flex: 0 0 100%;
    }
  }

  #izq {
    background: url(/assets/hero-palma.png) no-repeat $beige;
    background-position: right -150px;
    background-size: 45%;
    @include hd {
      background-size: 30%;
    }
    display: inherit;
    justify-content: center;
    align-items: center;

    h1 {
      color: $azul;
      font-size: clamp(3vw, 4vw, 10vw);
      line-height: 1em;
      margin: 2rem 0;
      @include cel {
        font-size: 2.2rem;
      }
    }
    p {
      margin-bottom: 2rem;
    }
    @include cel {
      padding: 5rem 0;
    }
  }
  #der {
    display: grid;
    grid-template-rows: 1fr 1fr;
    #fachada {
      background: url(/assets/Fachada-posada-el-palmar-hotel-zihuatanejo.jpg)
        no-repeat;
      background-size: cover;
      background-position: center;
      @include cel {
        height: 40vh;
      }
    }
    #refuerzo {
      background: url(/assets/fondo-azul.jpg) no-repeat;
      @include cel {
        height: 34vh;
      }
      .bandeja {
        width: 100%;
        transform: translateY(-5rem);
        text-align: center;
        @include cel {
          margin-top: -2em;
          img {
            width: 80%;
          }
        }
      }
    }
  }
  #logo {
    width: clamp(15rem, 20vw, 20rem);
  }

  #coco {
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translateX(-50%);
    @include cel {
      bottom: 0%;
      width: 50%;
    }
  }
}
.bandeja {
  width: 70%;
}

//secciones
@mixin secciones($der) {
  width: min(100% - 5rem, 1920px);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 10% 1fr 2fr;
  grid-template-rows: 5% 1fr 5%;
  @if $der {
    grid-template-columns: 2fr 1fr 10%;
    margin-top: 5rem;
    
  }

  @include cel {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 1fr;
  }

  &:before {
    content: "";
    background: $beige;
    grid-column: 1 / -1;
    grid-row: 2;
    @include cel {
      grid-column: 2 / span 1;
    }
    @if $der {
      background: url(/assets/fondo-azul.jpg) no-repeat $azul;

    }
  }
  &:after {
    content: "";
    background: url(/assets/hoja.png) no-repeat;
    background-position: 120% 38%;
    grid-column: 3 / -1;
    grid-row: 1 / span 2;
    @include hd {
      background-position: 100% 38%;
    }
    @include cel {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
      background-position: 100% 140%;
      background-size: 30%;
      @if $der {
        grid-column: 2 / span 1;
        background-size: 30%;
        background-position: 0px -20px!important;
      }
    }
    @if $der {
      background: url(/assets/palma.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0px!important;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }
  }
  img {
    grid-column: 2;
    grid-row: 1 / -1;
    @include cel {
      grid-column: 1 / -1;
      grid-row: 1;
    }
    @if $der{
      grid-column: 2;
      grid-row: 1 / -1;
    }
  }
  .bandeja {
    grid-column: 3 / -1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include cel {
      grid-column: 2 / span 1;
      grid-row: 2;
    }
    p {
      width: 50%;
      @include cel {
        width: 70%;
      }
    }
    @if $der{
      grid-column: 1 / span 1;
      p{
        color: #fff
      }
    }
  }
}
.izq {
  @include secciones(false);
}
.der {
  @include secciones(true);
}

#formulario h2{
  color: $azul;
  border-bottom: 1px solid $azul;
  padding: 0 0 1rem 0;
}
input, select{
  background-color: #fff;
  border: none;
  padding: .6rem 1rem;
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: .5rem;
}
footer{
  background: $azul;
  color: #fff;
  img{
    position: relative;
    width: min(300px, 500px);
    margin: 4rem 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .bandeja{
    margin-inline: auto;
    width: min(100% - 5rem, 1920px);
    span{
      font-size: .8rem;
      text-align: center;
      color: #ccc;
    }
  }
  #dir{
    border-top: 1px solid #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem 0 7rem 0;
    justify-content: center;
    
    @media (max-width:414px){
      address, .tel{
        max-width: 100%!important;
        text-align: center;
      }
    }

    address{
      max-width: 40%;
      
      span{
        font-size: .8rem;
        font-style: italic;
      }
    }
  }
}