@use "mediaQ" as *;
@use "color" as *;
// Boton toogle
.btn {
  background-color: $naranja;
  color: #fff;
  padding: 0.6rem 2rem;
  display: inline-block;
  border-radius: 0.5rem;
}

// hero
#hero {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  #izq,
  #der {
    flex: 1;
    @include cel {
      flex: 0 0 100%;
    }
  }

  #izq {
    background: url(/assets/hero-palma.png) no-repeat $beige;
    background-position: right -150px;
    background-size: 45%;
    @include hd {
      background-size: 30%;
    }
    display: inherit;
    justify-content: center;
    align-items: center;

    h1 {
      color: $azul;
      font-size: clamp(3vw, 4vw, 10vw);
      line-height: 1em;
      margin: 2rem 0;
      @include cel {
        font-size: 2.2rem;
      }
    }
    p {
      margin-bottom: 2rem;
    }
    @include cel{
      padding: 5rem 0;
    }
  }
  #der{
    display: grid;
    grid-template-rows: 1fr 1fr;
    #fachada{
      background: url(/assets/Fachada-posada-el-palmar-hotel-zihuatanejo.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      @include cel {
        height: 40vh;
      }
    }
    #refuerzo{
      background: url(/assets/fondo-azul.jpg) no-repeat;
      @include cel {
        height: 34vh;
      }
      .bandeja{
        width: 100%;
        margin-top: -5em;
        text-align: center;
        @include cel{
          margin-top: -2em;
          img{
            width: 80%;
          }
        }
      }
    }
  }
  #logo {
    width: clamp(15rem, 20vw, 20rem);
  }
  position: relative;
  #coco{
    position: absolute;
    top:100vh;
    left: 50%;
    transform: translateX(-50%);
    @include cel{
      top: 135%;
      width: 50%;
    }
    @include hd{
      top: 90%;
    }
  }
}
.bandeja {
  width: 70%;
}
