---
// Style Imports
import '../styles/style.scss';
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';

let titulo = "Esto es Home"
const descripcion ="Esta es la descripcion"
---
<BaseLayout eltitulo={titulo} descripcion={descripcion}>
<main >
<Hero />

</main>
</BaseLayout>