---

---

<div id="cuartos">
    <div class="bandeja">

        <div class="item">
            <img src="/assets/cuarto-1-posada-el-palmar-hotel-zihuatanejo.webp" alt="Cuartos de hotel en zihuatanejo">
        </div>
        <div class="item">
            <img src="/assets/cuarto-2-posada-el-palmar-hotel-zihuatanejo.webp" alt="Cuartos de hotel en zihuatanejo">
        </div>
        <div class="item">
            <img src="/assets/cuarto-3-posada-el-palmar-hotel-zihuatanejo.webp" alt="Cuartos de hotel en zihuatanejo">
        </div>
        <div class="item">
            <img src="/assets/cuarto-4-posada-el-palmar-hotel-zihuatanejo.webp" alt="Cuartos de hotel en zihuatanejo">
        </div>

    </div>
</div>

<style lang="scss">
    #cuartos{
        background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(253,232,220,1) 50%);
    }
    .bandeja{
        width: min(100% - 5rem, 1920px);
         margin-inline: auto;
      display: flex;
     @media (max-width:414px){
        flex-wrap: wrap;
        .item{
            width: 100%;
            height: 400px!important;
            margin-bottom: 1em;
            img{
                width: 100%!important;
                height: auto;
          
            }
        }
     }
      .item{
          height: 35vw;
          transition: all .2s;
          img{
              object-fit: cover;
              height: 100%;
              width: 95%;
          }
          &:hover{
            transform: scale(1.1);
            transform-origin: center;
            width: 100%;
          }
      }
    }
</style>