---

---
<footer>
    <div class="bandeja">
        <img src="/assets/logo-hotel-posada-el-palmar.svg" alt="logo-hotel-posada-el-palmar">
        <div id="dir">
            <address>
                Paseo del Palmar #66 Col. Centro, Zihuatanejo, Gro, México CP. 40880, <span>(a una cuadra de la Plaza Quioto)</span>
            </address>
            <div class="tel">
                Tel: <a href="tel:+527555543442 ">+52 75555 43442 </a>  <br>
    Email: <a href="mailto:luzmar79@hotmail.com">luzmar79@hotmail.com</a>
    
            </div>
            <span>For Zihuatanejo and regional information please visit ZihuaRob's Zihuatanejo-Ixtapa Directory & Visitors Guide</span>
        </div>

       
    </div>

</footer>