---

---
<div id="hero">
    <div id="izq">
        <div class="bandeja">
            <img id="logo" src="/assets/logo-hotel-posada-el-palmar.svg" alt="Hotel posada del Palmar en Zihuatanejo" />
        <h1>Hotel a unos pasos de la playa La Ropa</h1>
        <p><b>Difruta de Zihuatanejo hospedandote en el hotel Posada del Palmar</b>, estamos ubicados a unos pasos de Playa La Madera, la bahía y el centro de Zihuatanejo.</p>
        <a href="#mapayformu" class="btn">Reservar ahora</a>
        </div>
    </div>
    <div id="der">
        <div id="fachada">
        </div>
        <div id="refuerzo">
            <div class="bandeja">
                <img src="/assets/zihuatanejo-refuerzo.jpg" alt="Zihuatanejo centro y playa las gatas">
            </div>
        </div>
    </div>
    <img id="coco" src="/assets/coco.png" alt="coco">
</div>


