---

---

   <nav id="nav">
      <button class="menu-toggle">Menu</button>
      <div class="logo">
          <a href="/">
            <img src="https://via.placeholder.com/150x50" alt="nombre de la empresa" />
          </a>
      </div>
      <ul>
        <li>
          <a href="#">item 1</a>
        </li>
        <li>
          <a href="#">item 2</a>
        </li>
        <li>
          <a href="#">item 3</a>  
        </li>
      </ul>
      <ul id="social"></ul>
    </nav>