---

---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
crossorigin=""/>



<div id="reservaciones">
  <div class="bandeja">
    <img
      src="/assets/patio-posada-el-palmar-hotel-zihuatanejo.jpg"
      alt="patio principal hotel posada del palmar"
      class="principal"
    />

  <div id="mapayformu">
    <div id="mapa"></div>
    <div id="formulario">
      <h2>Reservaciones</h2>
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre y apellidos"
      />
      <select name="habitaciones" id="habitaciones">
        <option disabled selected>Tipo de habitación</option>
        <option value="Habitación con cocina">Habitación con cocina</option>
        <option value="Habitación sin cocina">Habitación sin cocina</option>
   
      </select>
      <input
        type="date"
        name="llegada"
        id="llegada"
        placeholder="Fecha de llegada"
      />
      <input
        type="date"
        name="salida"
        id="salida"
        placeholder="Fecha de salida"
      />
      <input
        type="number"
        name="adultos"
        id="adultos"
        placeholder="Numero de adultos"
      />
      <input
        type="number"
        name="niños"
        id="ninos"
        placeholder="Numero de niños"
      />
      <a href="#" class="btn desactivado" id="btncotizar">Reservar</a>
    </div>
    <div id="revisar"></div>
  </div>
</div>
</div>

<style lang="scss">
  #reservaciones {
    // el h2 y los inpunts tiene sus estilos en style.scss
    background: rgb(253,232,220);
background: linear-gradient(180deg, rgba(253,232,220,1) 32%, rgba(17,25,93,1) 32%);
    .bandeja{
        margin-inline: auto;
        width: min(100% - 5rem, 1920px);
        boder: solid;

        .principal{
            width: 100%;
            height: 80vh;
            object-fit: cover;
        }
        @media (max-width:414px){
            .principal{
                height: 40vh;
            }
            #mapayformu{
                margin: 0 1rem!important;
            }
            #mapa{
                height: 300px;
            }
        }

        #mapayformu{
            display: flex;
            flex-wrap: wrap;
            margin:  0 2rem;
            translate: 0 -4rem;
            #mapa{
                flex: 1 0 50%;
                background-color: #999;
                
            }
            #formulario{
                flex: 1 0 50%;
                background-color: #FDE8DC;
                padding: 3rem;
            }
        }
    }
  }
  .desactivado {
  opacity: 0.2;
  pointer-events: none;
}
#revisar{
  color: #fff;
  margin-inline: auto;
  width: min(100% - 5rem, 1920px);
  
}
</style>
<script src="../js/reservas.js"></script>
<script>
import { Mapa } from "../js/mapa";
  const divmapa = document.getElementById("mapa");
if (divmapa) {
  const mapa = new Mapa();
  document.addEventListener("DOMContentLoaded", () => {
    mapa.obtenerDatos();
  });
}

</script>

