---

---

<div id="reservaciones">
    <div class="bandeja">
        <img src="/assets/patio-posada-el-palmar-hotel-zihuatanejo.jpg" alt="patio principal hotel posada del palmar" class="principal">
    </div>
    <div id="mapayformu">
<div id="mapa">

</div>
<div id="formulario">
    <h2>Reservaciones</h2>
    <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellidos">
    <select name="habitaciones" id="habitaciones">
        <option disabled selected>Tipo de habitación</option>
        <option value="Tipo A">Habitación tipo A</option>
        <option value="Tipo B">Habitación tipo B</option>
        <option value="Tipo C">Habitación tipo C</option>
        <option value="Tipo D">Habitación tipo D</option>
    </select>
    <input type="date" name="llegada" id="llegada" placeholder="Fecha de llegada">
    <input type="date" name="salida" id="salida " placeholder="Fecha de salida">
    <input type="number" name="adultos" id="adultos" placeholder="Numero de adultos">
    <input type="number" name="niños" id="niños" placeholder="Numero de niños">
    <a href="#" class="btn">Reservar</a>
</div>
    </div>
</div>