---

---
<div class="izq">
    <img src="/assets/descanso-posada-el-palmar-hotel-zihuatanejo.jpg" alt="área de descanso e ideal para tomar el sol en zihuatanejo">
    <div class="bandeja">
        <p>
            <b>Hotel Posada del Palmar cuenta con 14 habitaciones</b> de estilo mexicano con baño privado y agua caliente,  aire acondicionado o ventilador y televisión por cable. 
        </p>

    </div>
</div>

<div class="der">
    <div class="bandeja">
        <p>
            Tambien contamos con cuartos con <b>cocina y terraza privada</b> ideales para estadias mas largas con la convenecia que ofrece el contar con estos servicios.

        </p>
        
    </div>
    <img src="/assets/cocina-posada-el-palmar-hotel-zihuatanejo.jpg" alt="cuartos con cocina en zihuatanejo">
</div>