---
const {eltitulo, descripcion} = Astro.props
---

    <html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{eltitulo}</title>
	<meta name="description" content={descripcion}>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

<slot />
</body>
</html>
